.audience-poll {
    position: absolute;
    top: 50px;
    right: 40px;
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
    background: #222;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    color: white;
    font-family: "Montserrat", sans-serif;
    opacity: 0;
    transform: translateY(10px);
    animation: fadeIn 1s ease-in-out forwards;
}

.audience-poll h3 {
    font-size: 18px;
    font-weight: lighter;
    color: while;
}

.bar-container {
    left: 10%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    opacity: 0;
    transform: translateY(10px);
    animation: fadeIn 1s ease-in-out forwards;
}

.bar-label {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.bar {
    width: 50px;
    border-radius: 10px 10px 0 0;
    background: linear-gradient(to top, rgba(106, 0, 255, 0.8), rgba(0, 204, 255, 0.9));
    box-shadow: 0px 0px 10px rgba(106, 0, 255, 0.8), 0px 0px 20px rgba(0, 204, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: lighter;
    padding-bottom: 5px;
    color: white;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8);

    height: 0;  
    transition: height 1s ease-in-out;
    animation: bounceIn 1s ease-in-out;
}

@keyframes bounceIn {
    0% {
        transform: scaleX(0);
        opacity: 0;
    }
    80% {
        transform: scaleX(1.1);
    }
    100% {
        transform: scaleX(1);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}