.multiplayer-game-screen {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle at center, #1f2a67 0%, #000 80%); 
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.multiplayer-question-container {
    background-color: transparent;    
    border: none;
}

.multiplayer-question-container button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(135deg, #16213e, #1a237e); 
    color: white;
    border: 2px solid #ffd700;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.multiplayer-question-container button:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(255, 215, 0, 0.8); 
}

.multiplayer-question {
    position: relative;
    bottom: -70%;
    left: 11.5%;
    width: 670px;
    padding: 25px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    background: linear-gradient(135deg, #062b8fc7, #1a237e);
    color: #ffffff; 
    border: 2px solid #ffd700; 
    border-radius: 10px;
}

.multiplayer-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    bottom: -75%;
    left: 11%;
    gap: 10px;
}

.multiplayer-options button {
    display: flex;
    width: 350px;
    height: 65px;
    padding: 20px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    background: linear-gradient(135deg, #062b8fc7, #1a237e); 
    color: #ffff; 
    border: 2px solid #ffd700; 
    border-radius: 12px;
    margin: 0 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.multiplayer-options button:disabled {
    opacity: 0.5;
    background: linear-gradient(135deg, #3a3f7d, #1a237e);
    color: #b0b0b0; 
    border: 2px solid #3a3f7d;
    pointer-events: none;
}

.multiplayer-options button:hover {
    background: linear-gradient(135deg, #1d0663, #052386); 
    color: #ffffff; 
    transform: scale(1.05); 
    box-shadow: 0px 0px 15px rgba(255, 215, 0, 0.8);
}

.timer {
    flex: 1;
    width: 90px;
    height: 90px;
    position: relative;
    left: -52%;
    bottom: -45%;
    margin: 20px auto;
    background: linear-gradient(225deg, #062b8fc7, #2d014e);
    border: 2px solid #ffd700;   
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.timer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(145deg, rgba(255,255,255,0.15), rgba(0,0,0,0));
    z-index: 1;
    pointer-events: none;
}

.timer-value {
    font-size: 36px;
    font-weight: 900;
    color: #ffffff; 
    font-family: 'Montseratt', sans-serif;    
    z-index: 2;
}

.leaderboard-container {
    position: absolute;
    top: 20px;
    left: 55%;
    transform: translateX(-50%);
    width: 90%;
    height: 12%;
    max-width: 800px;
    background: radial-gradient(circle at center, #202474 0%, #0d0d1c 100%);
    border: 1px solid #d4af37;
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    z-index: 1;   
    overflow-x: auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.leaderboard-container::-webkit-scrollbar {    
    height: 10px;
}

.leaderboard-container::-webkit-scrollbar-track {
    background: #10132e; 
    border-radius: 10px;
}

.leaderboard-container::-webkit-scrollbar-thumb {
    background: linear-gradient(135deg, #d4af37, #bfa22e);
    border-radius: 10px; 
}

.leaderboard-container::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(135deg, #e4c441, #d4af37);
}

.leaderboard {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;    
    gap: 12px;
}

.leaderboard-container .leaderboard li {
    font-size: 16px;
    font-weight: 500;
    color: #e0e0e0;
    padding: 8px 16px;
    margin-top: 1.5%;
    background: linear-gradient(145deg, #3438b3, #151798);
    border: 2px solid rgba(255, 215, 0, 0.3);
    border-radius: 10px;
    text-align: center;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; 
    max-width: 20%;
}

.leaderboard-container .leaderboard li.spectator {
    color: #a0a0a0; 
    background: linear-gradient(145deg, #3a3a3a, #2e2d2d); 
    border: 2px solid #5a5a5a; 
    opacity: 0.6; 
    pointer-events: none;    
}

.leaderboard-container .leaderboard li.spectator.leader {   
    animation: none;
}

.leaderboard-container .leaderboard li:first-child {
    font-size: 17px;
    animation: pulse 1.5s infinite; 
}

.player-nickname {
    display: block; 
    font-size: 16px;
    font-weight: bold;
    color: #e0e0e0; 
    overflow: hidden;
}

.player-score {
    display: block; 
    font-size: 14px;
    color: #e0e0e0; 
    margin-top: 5px;
}

.fade-from-black-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 102; 
    pointer-events: none;
    animation: fade 2s ease forwards;
}

.spotlight-left {
    position: absolute;
    width: 400px;
    height: 1000px;
    left: 5px;
    top: -40px;
    background: linear-gradient(transparent, rgba(255, 215, 0, 0.3));
    transform: rotate(45deg);
    filter: blur(15px);
    pointer-events: none;
    z-index: 0;
    animation: fadeInOutLeft 7s infinite ease-in-out;
}

.spotlight-right {
    position: absolute;
    width: 400px;
    height: 1000px;
    right: 5px; 
    top: -40px;
    background: linear-gradient(transparent, rgba(255, 215, 0, 0.3));
    transform: rotate(-45deg); 
    filter: blur(15px);
    pointer-events: none;
    z-index: 0;
    animation: fadeInOutRight 7s infinite ease-in-out;
}

.game-over-message {
    position: fixed;
    top: 40%;
    left: 50%;
    margin-left: 5%;
    transform: translate(-50%, -50%);
    background: linear-gradient(135deg, #1a237e, #311b92); 
    color: #ffd700;
    padding: 20px 30px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 0px 15px rgba(255, 215, 0, 0.8);
    z-index: 1;
}

.game-over-message p {
    margin: 0;
    line-height: 1.5;
}

@keyframes fadeInOutLeft {
    0% {
        opacity: 0.2; 
        transform: rotate(45deg); 
    }
    25% {
        opacity: 0.6; 
        transform: rotate(45deg); 
    }
    50% {
        opacity: 1; 
        transform: rotate(45deg); 
    }
    75% {
        opacity: 0.6; 
        transform: rotate(45deg); 
    }
    100% {
        opacity: 0.2; 
        transform: rotate(45deg); 
    }
}

@keyframes fadeInOutRight {
    0% {
        opacity: 0.2; 
        transform: rotate(-45deg); 
    }
    25% {
        opacity: 0.6; 
        transform: rotate(-45deg); 
    }
    50% {
        opacity: 1; 
        transform: rotate(-45deg); 
    }
    75% {
        opacity: 0.6; 
        transform: rotate(-45deg); 
    }
    100% {
        opacity: 0.2; 
        transform: rotate(-45deg); 
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 rgba(255, 215, 0, 0.5);
    }
    50% {
        transform: scale(1.01);
        box-shadow: 0 0 10px rgba(255, 215, 0, 1);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 rgba(255, 215, 0, 0.5);
    }
}

@keyframes fade{
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}
